.overviewInputBox {
  border: 1px solid rgb(255, 209, 209);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background: #ffffff78;
}
.featureBtnBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.threeInBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 19px;
  margin-bottom: 10px;
}
.thrInputBox {
  width: 49%;
}
.featuresBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.featureInputCard {
  width: 20%;
  border: 1px solid rgb(255, 209, 209);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background: #ffffff78;
}
.bannerImgUploadBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.bannerImgBox {
  min-width: 300px;
  width: 50%;
  height: 150px;
  margin-left: 20px;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.616);
  overflow: hidden;
}
.bannerImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ProductRow {
  width: 100%;
}
.prod .outerImgUploadBox {
  width: unset;
  min-width: 140px;
}
.createDropBox {
  width: 25%;
  margin-bottom: 10px;
}
.ProdDbImg {
  position: absolute;
  top: 116px;
}
